---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Jake's high precision brithday",
  description: "woow",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <p class="fade-in">Jakes Age in High Precision</p>
      <h3 id="age" class="fade-in">years</h3>
      <script>
        let confetti;

        async function loadConfetti() {
          const module = await import('canvas-confetti');
          confetti = module.default;
        }

        loadConfetti();

        function calculateAge(birthDateStr) {
          const birthDate = new Date(birthDateStr);
          const now = new Date();
          const ageDifferenceMilliseconds = now - birthDate;
          const ageInSeconds = ageDifferenceMilliseconds / 1000;
          const ageInYears = ageInSeconds / (60 * 60 * 24 * 365.2425);
          return ageInYears.toFixed(9);
        }

        const birthDate = "1995-04-24T23:56:00";
        let celebrationDone = false;

        function checkCelebration(ageNumber) {
          if (!celebrationDone && ageNumber > 28) {
            console.log("Celebration triggered!");

            confetti({
              particleCount: 100,
              spread: 70,
              origin: { y: 0.6 },
            });

            const ageElement = document.getElementById("age");
            ageElement.innerHTML += " 🥳";
            ageElement.classList.add("celebration");
            celebrationDone = true;
          }
        }

        function updateAge() {
          const ageElement = document.getElementById("age");
          const newAge = calculateAge(birthDate);
          ageElement.textContent = `${newAge} years`;

          const ageNumber = parseFloat(newAge);
          checkCelebration(ageNumber);
        }

        window.setInterval(updateAge, 1000 / 60);
        updateAge();
      </script>
    </article>
  </Container>
</Layout>