---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Jake's high precision birthday",
  description: "woow",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }

  .video-wrapper {
    display: none;
  }

  .video-wrapper.show {
    display: block;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <p class="fade-in">Jake's Age in High Precision</p>
      <h3 id="age" class="fade-in">years</h3>
      <div class="video-wrapper" id="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0mYBSayCsH0?autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <script type="module" src="./src/components/calculateAge.js"></script>

    </article>
  </Container>
</Layout>
